# additional
*.obj
*.tif
*.ppm
*.bmp
*.png
*.jpg
z_hdri/
earthmap1k.ppm
.obsidian/
.vscode/
.cache/
compile_commands.json
*.txt
*.aux
*.log
*.pdf
*.fls
*.fdb_latexmk
lib/minilibx-linux
*.tgz

# Main binary
minirt

# MLX42
*.tar.gz
MLX42/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
